In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("Coding_Exercise_12.ipynb")

In [2]:
# This cell load all the needed libraries for you. Don't add or remove anything. You don't need other packages either
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import numpy as np 
import pandas as pd 
# prevent numbers to be displayed in scientific notation
np.set_printoptions(precision=3, suppress=True)
%precision 3

'%.3f'

# Week 12 Coding Exercise
The following cell load the data in the csv file to the dataframe 'df' for you. It also displays some basic information. Use it to understand the data. <font color='red'>DON'T CHANGE THE FILE PATH AND DON'T DELETE THE CELL</font>

In [3]:
# Read the file to a dataframe. DON'T CHANGE THE FILE PAHT. OTHERWISE GRADESCOPE CANNOT GRADE YOUR WORK
df = pd.read_csv("netflix_show_ranking.csv")
# Display the top 5 rows to take a peek of the data
display(df.head())
# Use info() to get information such as names of columns, number of values not missing, and data types of columns
df.info()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2021-01-01,1,1.0,NaN,Bridgerton,TV Show,Yes,"Dec 25, 2020",7,67
1,2021-01-01,2,3.0,NaN,Death to 2020,Movie,Yes,"Dec 27, 2020",5,37
2,2021-01-01,3,2.0,NaN,We Can Be Heroes,Movie,Yes,"Dec 25, 2020",7,58
3,2021-01-01,4,NaN,NaN,Chilling Adventures of Sabrina,TV Show,Yes,"Oct 26, 2018",1,7
4,2021-01-01,5,4.0,1.0,The Midnight Sky,Movie,Yes,"Dec 23, 2020",9,77

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 3650 non-null   object
 1   Rank                  3650 non-null   int64
 2   Year to Date Rank     3228 non-null   float64
 3   Last Week Rank        1691 non-null   float64
 4   Title                 3650 non-null   object
 5   Type                  3650 non-null   object
 6   Netflix Exclusive     2352 non-null   object
 7   Netflix Release Date  3650 non-null   object
 8   Days In Top 10        3650 non-null   int64
 9   Viewership Score      3650 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 285.3+ KB

### Question 1
For the 3 types of shows in the dataset: Movie, TV Show and Stand-Up Comedy, find the average number of days for each of the 10 rankings (1 to 10). The result should be a Series. Return the average number of days for Movies Ranked Top 1, the average number of days for TV shows Ranked Top 1, and the Series. The 3 values should be returned in this order. The second and third values to be returned can be retrieved from the Series. <font color='red'>Data should have been loaded in df in the code cell at the top of the file. Don't load data again in your code for this question</font>

In [4]:
...
### don't remove anything. Just add code to where noted
def avg_days_top_1():
    ### Your code starts 
    filtered_df = df[
    df['Type'].isin(['Movie', 'TV Show', 'Stand-Up Comedy']) &
    df['Rank'].between(1, 10)
    ]
    average_days = filtered_df.groupby(['Type', 'Rank'])['Days In Top 10'].mean()
    try:
        movie_rank1_avg = average_days.loc[('Movie', 1)]
    except KeyError:
        movie_rank1_avg = float('nan') 
    try:
        tvshow_rank1_avg = average_days.loc[('TV Show', 1)]
    except KeyError:
        tvshow_rank1_avg = float('nan') 
    return movie_rank1_avg, tvshow_rank1_avg, average_days
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# avg_days_top_1()

In [5]:
grader.check("q1")

q1 results: All test cases passed!
q1 - 1 message: passed - The data file is stored in the same folder as the notebook
q1 - 2 message: passed - avg_days_top_1() returned 3 values
q1 - 3 message: passed - the first value returned is a float number
q1 - 4 message: passed - the second value returned is a float number
q1 - 5 message: passed - the third value returned is a Series

### Question 2
Create a pivot table using 'Rank' as rows, 'Type' as columns and 'Viewership Score' as values. Get both the mean and standard deviation. Use this pivot table to get the **ranks** of the highest average viewership scores for both Movie and TV Show along with the **viewership scores**. For example, Movies ranked number 1 have the highest viewership score 50. TV Shows ranked number 3 have the highest viewership score of 80. (These are madeup numbers for your understanding only.) Take the example, return values in this order and format: (1, 50), (3, 80), pivot table. In other words, return the rank and average viewership score for movie as a tuple, followed by the rank and average viewership score for TV Show as a tuple, followed by the pivot table created earlier.

It is likely that the pivot table created is a DataFrame with multiple levels of index on the column. In this case, to get a column, you would use the syntax df[level1][level2] as the example we went over in class. You are familiar with df[columnname] syntax, just add another []. <font color='red'>Data should have been loaded in df in the code cell at the top of the file. Don't load data again in your code for this question</font>

In [6]:
...
### don't remove anything. Just add code to where noted
def get_viewership_pivottable():
    ### Your code starts 
    pivot_table = pd.pivot_table(
    df,
    index='Rank',
    columns='Type',
    values='Viewership Score',
    aggfunc=['mean', 'std']
    )
    movie_mean_scores = pivot_table['mean']['Movie']
    movie_top_rank = movie_mean_scores.idxmax()
    movie_top_score = movie_mean_scores.max()
    movie_result = (int(movie_top_rank), float(movie_top_score))
    tvshow_mean_scores = pivot_table['mean']['TV Show']
    tvshow_top_rank = tvshow_mean_scores.idxmax()
    tvshow_top_score = tvshow_mean_scores.max()
    tvshow_result = (int(tvshow_top_rank), float(tvshow_top_score))
    return movie_result, tvshow_result, pivot_table
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# get_viewership_pivottable()[2]

In [7]:
grader.check("q2")

q2 results: All test cases passed!
q2 - 1 message: passed - The top-level returned value contains 3 items
q2 - 2 message: passed - The first value returned is a tuple
q2 - 3 message: passed - The second value returned is a tuple
q2 - 4 message: passed - The third value in the returned tuple is a DataFrame
q2 - 5 message: passed - The first and second returned tuple should have 2 values each
q2 - 6 message: passed - The created pivot table have 10 rows and 6 columns

### Question 3
Concatenate data in 2 CSV files 'show_details1.csv' and 'show_details2.csv' into one dataframe using concat(). Make sure the rows from show_details1.csv is at the top of the resulting dataframe. The result should have a new RangeIndex as its row index without duplicate index numbers. This is practiced in class. You do need to load the data from the 2 CSV files into two dataframes first before concatenation is performed. Return the concatenated dataframe.

In [8]:
...
### don't remove anything. Just add code to where noted
def concat_show_details():
    ### Your code starts 
    df1 = pd.read_csv('show_details1.csv')
    df2 = pd.read_csv('show_details2.csv')
    concatenated_df = pd.concat([df1, df2], ignore_index=True)  
    return concatenated_df
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
concat_show_details()

,Show Title,Directors,Stars
0,Bridgerton,Chris Van Dusen,"Phoebe Dynevor, Regé-Jean Page, Jonathan Bailey"
1,Cobra Kai,Hayden Schlossberg,"Ralph Macchio, William Zabka, Xolo Maridueña"
2,Night Stalker,Tiller Russell,"Richard Ramirez (subject), Gil Carrillo, Frank..."
3,Outside the Wire,Mikael Håfström,"Anthony Mackie, Damson Idris, Enzo Cilenti"
4,Fate: The Winx Saga,Lisa James Larsson,"Abigail Cowen, Hannah van der Westhuysen, Prec..."
5,Below Zero,Lluis Quílez,"Javier Gutiérrez, Karra Elejalde, Luis Callejo"
6,Firefly Lane,Peter O'Fallon,"Katherine Heigl, Sarah Chalke, Ben Lawson"
7,Crime Scene: The Vanishing,Joe Berlinger,"Frank Cifarelli, Amy Price, retired LAPD offic..."
8,To All the Boys: Always and…,Michael Fimognari,"Lana Condor, Noah Centineo, Janel Parrish"
9,Good Girls,Dean Parisot,"Christina Hendricks, Retta, Mae Whitman"
10,Behind Her Eyes,Erik Richter Strand,"Simona Brown, Tom Bateman, Eve Hewson"
11,I Care a Lot,J Blakeson,"Rosamund Pike, Peter Dinklage, Eiza González"
12,Ginny & Georgia,Anya Adams,"Brianne Howey, Antonia Gentry, Diesel La Torraca"
13,Yes Day,Miguel Arteta,"Jennifer Garner, Édgar Ramírez, Jenna Ortega"
14,Deadly Illusions,Anna Elizabeth James,"Kristin Davis, Dermot Mulroney, Greer Grammer"
15,Who Killed Sara?,José Ignacio Valenzuela,"Manolo Cardona, Carolina Miranda, Ginés García..."
16,Bad Trip,Kitao Sakurai,"Eric André, Lil Rel Howery, Tiffany Haddish"
17,What Lies Below,Braden R. Duemmler,"Ema Horvath, Trey Tucker, Mena Suvari"
18,Thunder Force,Ben Falcone,"Melissa McCarthy, Octavia Spencer, Jason Bateman"
19,Dad Stop Embarrassing Me!,"Ken Whittingham, others","Jamie Foxx, Kyla-Drew, David Alan Grier"
20,Synchronic,"Justin Benson, Aaron Moorhead","Anthony Mackie, Jamie Dornan, Ally Ioannides"
21,The Baker and the Beauty,"David Frankel, others","Victor Rasuk, Nathalie Kelley, Dan Bucatinsky"
22,The Circle US,Michelle Buteau (host),"DeLeesa St. Agathe, Courtney Revolution, others"
23,Shadow and Bone,"Mairzee Almas, others","Jessie Mei Li, Ben Barnes, Archie Renaux"
24,The Mitchells vs. The Machines,Mike Rianda,"Danny McBride, Abbi Jacobson, Maya Rudolph"
25,The Sons of Sam,Joshua Zeman,Documentary Series
26,Jupiter's Legacy,Steven S. DeKnight,"Josh Duhamel, Ben Daniels, Leslie Bibb"
27,The Upshaws,"Sheldon Epps, others","Mike Epps, Wanda Sykes, Kim Fields"
28,The Woman in the Window,Joe Wright,"Amy Adams, Gary Oldman, Anthony Mackie"
29,Army of the Dead,Zack Snyder,"Dave Bautista, Ella Purnell, Omari Hardwick"

In [9]:
grader.check("q3")

q3 results: All test cases passed!
q3 - 1 message: passed - The returned value is a DataFrame
q3 - 2 message: passed - The returned DataFrame has 30 rows and 3 columns
q3 - 3 message: passed - A new RangeIndex is created for the concatenated DataFrame

### Question 4
Take the concatenated show details and merge it with the dataframe 'df' loaded with netflix data. In other words, you can call the function created in question 3 'concat_show_details()' to get the details and merge() the two dataframes. Note the following:
- Use inner join
- Note the the names of the columns to be matched are not the same. This needs to be handled in merge()
- The merged dataframe returned will contain all the columns from both dataframes. Remove the duplicate column (the column names are different but the values are the same)
- Return the final dataframe

<font color='red'>Data should have been loaded in df in the code cell at the top of the file and in the function concat_show_details(). Don't load data again in your code for this question</font>

In [10]:
...
### don't remove anything. Just add code to where noted
def inner_join_show_dfs():
    ### Your code starts 
    details_df = concat_show_details()
    merge_left_on = 'Title'         
    merge_right_on = 'Show Title'  
    merged_df = pd.merge(
        df, 
        details_df, 
        how='inner', 
        left_on=merge_left_on, 
        right_on=merge_right_on
    )
    merged_df = merged_df.drop(columns=[merge_right_on])
    merged_df.reset_index(drop=True, inplace=True)
    return merged_df
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# inner_join_show_dfs()

In [11]:
grader.check("q4")

q4 results: All test cases passed!
q4 - 1 message: passed - The returned value is a dataframe
q4 - 2 message: passed - The returned dataframe has 491 rows and 12 columns

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [12]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)

Running your submission against local test cases...


Your submission received the following results when run against available test cases:

    q1 results: All test cases passed!
    q1 - 1 message: passed - The data file is stored in the same folder as the notebook
    q1 - 2 message: passed - avg_days_top_1() returned 3 values
    q1 - 3 message: passed - the first value returned is a float number
    q1 - 4 message: passed - the second value returned is a float number
    q1 - 5 message: passed - the third value returned is a Series

    q2 results: All test cases passed!
    q2 - 1 message: passed - The top-level returned value contains 3 items
    q2 - 2 message: passed - The first value returned is a tuple
    q2 - 3 message: passed - The second value returned is a tuple
    q2 - 4 message: passed - The third value in the returned tuple is a DataFrame
    q2 - 5 message: passed - The first and second returned tuple should have 2 values each
    q2 - 6 message: passed - The created pivot table have 10 rows and 6 columns

    q3 results: All test cases passed!
    q3 - 1 message: passed - The returned value is a DataFrame
    q3 - 2 message: passed - The returned DataFrame has 30 rows and 3 columns
    q3 - 3 message: passed - A new RangeIndex is created for the concatenated DataFrame

    q4 results: All test cases passed!
    q4 - 1 message: passed - The returned value is a dataframe
    q4 - 2 message: passed - The returned dataframe has 491 rows and 12 columns