In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")

print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [3]:
def get_oldest_group():
    ### Your code starts 
    # Group by 'Sex' and 'Pclass' and calculate the mean age
    grouped = df.groupby(['Sex', 'Pclass'])['Age'].mean()
    
    # Find the group with the maximum average age
    oldest_group = grouped.idxmax()
    oldest_age = grouped.max()
    
    return oldest_group, oldest_age
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
group, age = get_oldest_group()
print(f"The group with the oldest average age is {group} with an average age of {age:.2f} years.")

The group with the oldest average age is ('male', 1) with an average age of 41.51 years.

In [4]:
pd.cut(df['Age'], bins=4)

0      (20.315, 40.21]
1      (20.315, 40.21]
2      (20.315, 40.21]
3      (20.315, 40.21]
4      (20.315, 40.21]
            ...
882    (20.315, 40.21]
883     (0.34, 20.315]
884     (0.34, 20.315]
885    (20.315, 40.21]
886    (20.315, 40.21]
Name: Age, Length: 887, dtype: category
Categories (4, interval[float64, right]): [(0.34, 20.315] < (20.315, 40.21] < (40.21, 60.105] < (60.105, 80.0]]

In [5]:
pd.cut(df['Age'], bins=[1, 21, 31, 51, 71, 91])

0      (21, 31]
1      (31, 51]
2      (21, 31]
3      (31, 51]
4      (31, 51]
         ...
882    (21, 31]
883     (1, 21]
884     (1, 21]
885    (21, 31]
886    (31, 51]
Name: Age, Length: 887, dtype: category
Categories (5, interval[int64, right]): [(1, 21] < (21, 31] < (31, 51] < (51, 71] < (71, 91]]