In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("Coding_Exercise_11.ipynb")

In [2]:
# This cell load all the needed libraries for you. Don't add or remove anything. You don't need other packages either
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import numpy as np 
import pandas as pd 
# prevent numbers to be displayed in scientific notation
np.set_printoptions(precision=3, suppress=True)
%precision 3

'%.3f'

# Week 11 Coding Exercise
The following cell load the data in the csv file to the dataframe 'df' for you. It also displays some basic information. Use it to understand the data. Also use df for all the questions below. Don't reload data in questions <font color='red'>DON'T CHANGE THE FILE PATH AND DON'T DELETE THE CELL</font>

In [3]:
# Read the file to a dataframe. DON'T CHANGE THE FILE PAHT. OTHERWISE GRADESCOPE CANNOT GRADE YOUR WORK
df = pd.read_csv("netflix_show_ranking.csv")
# Display the top 5 rows to take a peek of the data
display(df.head())
# Use info() to get information such as names of columns, number of values not missing, and data types of columns
df.info()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2021-01-01,1,1.0,NaN,Bridgerton,TV Show,Yes,"Dec 25, 2020",7,67
1,2021-01-01,2,3.0,NaN,Death to 2020,Movie,Yes,"Dec 27, 2020",5,37
2,2021-01-01,3,2.0,NaN,We Can Be Heroes,Movie,Yes,"Dec 25, 2020",7,58
3,2021-01-01,4,NaN,NaN,Chilling Adventures of Sabrina,TV Show,Yes,"Oct 26, 2018",1,7
4,2021-01-01,5,4.0,1.0,The Midnight Sky,Movie,Yes,"Dec 23, 2020",9,77

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 3650 non-null   object
 1   Rank                  3650 non-null   int64
 2   Year to Date Rank     3228 non-null   float64
 3   Last Week Rank        1691 non-null   float64
 4   Title                 3650 non-null   object
 5   Type                  3650 non-null   object
 6   Netflix Exclusive     2352 non-null   object
 7   Netflix Release Date  3650 non-null   object
 8   Days In Top 10        3650 non-null   int64
 9   Viewership Score      3650 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 285.3+ KB

### Question 1
Find all the columns with nan values using the function get_columns_w_nan(). <font color="red">Return</font> the **Series** that only contains values with at least one nan values. 

<font color='red'>Use **df** loaded in the cell at the beginning of this notebook. Don't read the csv file and load the data again.</font>

In [4]:
...
### don't remove anything. Just add code to where noted
def get_columns_w_nan():
    ### Your code starts 
    columns_with_nan = df.isnull().any()
    columns_with_nan = columns_with_nan[columns_with_nan == True]
    return columns_with_nan
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# get_columns_w_nan()

In [5]:
grader.check("q1")

q1 results: All test cases passed!
q1 - 1 message: passed - the type of the return value is correct
q1 - 2 message: passed - 3 values are in the returned Series
q1 - 3 message: passed - 'Netflix Exclusive' is in the returned Series

### Question 2
Take the column "Days in Top 10" and bin it into 4 categories: <=15, 16 to 35, 36 to 50 and 51 and above. Name the categories as 'Made it', 'Hold on longer', 'Steady' and 'Unbeatable'. Don't save the binned result back to the 'df'. You can create a variable to store it. The column "Days in Top 10" does not contain any nan values. Make sure binning it does not introduce any. Watch out for the lowest and highest boundary. Note that pd.cut() function has 2 parameters with default values as specified here: right=True and include_lowest=False. You can use the default values of the parameters or set different values for them but you need to make sure the values falling into the categories are correct. Once you get the binned result, get the number of nan values in it, (it should be 0). Also get a Series of the 4 categories and the number of rows falling into each category. Return the number of nan values and the Series object. 

<font color='red'>Use **df** loaded in the cell at the beginning of this notebook. Don't read the csv file and load the data again.</font>

In [6]:
...
### don't remove anything. Just add code to where noted
def bin_days_in_top10():
    ### Your code starts 
    bins = [0, 15, 35, 50, float('inf')]
    labels = ['Made it', 'Hold on longer', 'Steady', 'Unbeatable']
    binned_days = pd.cut(df['Days In Top 10'], bins=bins, labels=labels, include_lowest=True)
    num_nans = binned_days.isnull().sum()
    category_counts = binned_days.value_counts().reindex(labels)
    return num_nans, category_counts
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# bin_days_in_top10()

In [7]:
grader.check("q2")

q2 results: All test cases passed!
q2 - 1 message: passed - the type of the return value is correct
q2 - 2 message: passed - 2 values are returned in a tuple
q2 - 3 message: passed - The first value in the returned tuple is an integer
q2 - 4 message: passed - The second value in the returned tuple is a Series

### Question 3
Find the release year, month and weekday (full name) with the highest number of shows/titles made to the top 10 ranking (for each time element listed here). Use the column 'Netflix Release Date'. Note, **don't add any new columns to df**. If you created multiple Series, stored them in local variables. Return the year, month and weekday (full name of it) with the highest number of top 10 shows associated with. Also return the Series that contains all the weekdays and the number of shows made the top 10 for each weekday. There should be 4 values returned in the specified order. 

<font color='red'>Use **df** loaded in the cell at the beginning of this notebook. Don't read the csv file and load the data again.</font>

In [8]:
...
### don't remove anything. Just add code to where noted
def year_month_weekday_highest_top10():
    ### Your code starts 
    release_dates = pd.to_datetime(df['Netflix Release Date'])
    release_year = release_dates.dt.year
    release_month = release_dates.dt.month_name()
    release_weekday = release_dates.dt.day_name()
    year_counts = release_year.value_counts()
    month_counts = release_month.value_counts()
    weekday_counts = release_weekday.value_counts()
    top_year = year_counts.idxmax()
    top_month = month_counts.idxmax()
    top_weekday = weekday_counts.idxmax()
    return top_year, top_month, top_weekday, weekday_counts
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# year_month_weekday_highest_top10()

In [9]:
grader.check("q3")

q3 results: All test cases passed!
q3 - 1 message: passed - The number of columns in the dataframe df is not changed
q3 - 2 message: passed - year_month_weekday_highest_top10() returns a tuple with 4 values
q3 - 3 message: passed - The first return value of year_month_weekday_highest_top10() is an integer
q3 - 4 message: passed - The 3rd return value of year_month_weekday_highest_top10() is a string
q3 - 5 message: passed - The 4th return value of year_month_weekday_highest_top10() is a Series

### Question 4
Get the number of rows with the word "death" (regardless of the case) in its title. Note, **don't add any new columns to df**. A show could be in the top10 for multiple times. This means that the same show could be in multiple rows. The number that needs to be returned is the number of rows. Also, get the names of shows with the word "death" in its title as a list. In the list, all the titles must be unique. Return the number and the list in this order. 

<font color='red'>Use **df** loaded in the cell at the beginning of this notebook. Don't read the csv file and load the data again.</font>

In [10]:
...
### don't remove anything. Just add code to where noted
def get_shows_w_death():
    ### Your code starts 
    mask = df['Title'].str.contains('death', case=False, na=False)
    filtered_df = df[mask]
    num_rows = mask.sum()
    unique_titles = filtered_df['Title'].unique().tolist()
    return num_rows, unique_titles
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# get_shows_w_death()

In [11]:
grader.check("q4")

q4 results: All test cases passed!
q4 - 1 message: passed - The number of columns in the dataframe df is not changed
q4 - 2 message: passed - the type of the return value is correct as a tuple
q4 - 3 message: passed - 2 items are in the tuple returned
q4 - 4 message: passed - The first returned value from get_shows_w_death() is an int, which is correct
q4 - 5 message: passed - The 2nd returned value from get_shows_w_death() is a list

### Question 5
1. Fix some nan values. For the column "Netflix Exclusive", the nan values indicates that a show is not Netflix exclusive. Set them to be "No". **Make the changes in df directly**. fillna() or np.where can be used
1. For the column 'Year to Date Rank', if the value is nan, fill the value in column "Rank" in the same row. **Make change in df directly**. np.where can be used.
1. Once the 'Years to Date Rank' is fixed, find all the rows that the 'Years to Date Rank' is higher than 'Last Week Rank'. Return that number.

Further explanation: this function fixes some columns with nan values and also finds all the rows with ranking increased from last week. This is the only function that changes the df itself. All previous functions don't change the df. The change should not affect any question in this homework. However, after this function is executed, you should reload the data to df by executing the earlier cell that loads data from the csv file into df. And retest all the code. Please also wait until Gradescope finishes all the grading to ensure your code passes all tests. 

<font color='red'>Use **df** loaded in the cell at the beginning of this notebook. Don't read the csv file and load the data again.</font>

In [12]:
...
### don't remove anything. Just add code to where noted
def get_show_ranking_rise():
    ### Your code starts 
    df['Netflix Exclusive'].fillna('No', inplace=True)
    df['Year to Date Rank'] = np.where(df['Year to Date Rank'].isna(), df['Rank'], df['Year to Date Rank'])
    rank_increase_count = df['Year to Date Rank'] > df['Last Week Rank']
    rank_increase_count = rank_increase_count.sum()
    
    return rank_increase_count
    
    ### Your code ends (don't forget to return your result. Don't print it out) 
# You can uncomment the lines below to check your return values but you should comment out the code before submission
# get_show_ranking_rise()

In [13]:
grader.check("q5")

q5 results: All test cases passed!
q5 - 1 message: passed - The 'Netflix Exclusive' columns has no nan values
q5 - 2 message: passed - The 'Year to Date Rank' columns has no nan values
q5 - 3 message: passed - the type of the return value is correct

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [14]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)

Running your submission against local test cases...


Your submission received the following results when run against available test cases:

    q1 results: All test cases passed!
    q1 - 1 message: passed - the type of the return value is correct
    q1 - 2 message: passed - 3 values are in the returned Series
    q1 - 3 message: passed - 'Netflix Exclusive' is in the returned Series

    q2 results: All test cases passed!
    q2 - 1 message: passed - the type of the return value is correct
    q2 - 2 message: passed - 2 values are returned in a tuple
    q2 - 3 message: passed - The first value in the returned tuple is an integer
    q2 - 4 message: passed - The second value in the returned tuple is a Series

    q3 results: All test cases passed!
    q3 - 1 message: passed - The number of columns in the dataframe df is not changed
    q3 - 2 message: passed - year_month_weekday_highest_top10() returns a tuple with 4 values
    q3 - 3 message: passed - The first return value of year_month_weekday_highest_top10() is an integer
    q3 - 4 message: passed - The 3rd return value of year_month_weekday_highest_top10() is a string
    q3 - 5 message: passed - The 4th return value of year_month_weekday_highest_top10() is a Series

    q4 results: All test cases passed!
    q4 - 1 message: passed - The number of columns in the dataframe df is not changed
    q4 - 2 message: passed - the type of the return value is correct as a tuple
    q4 - 3 message: passed - 2 items are in the tuple returned
    q4 - 4 message: passed - The first returned value from get_shows_w_death() is an int, which is correct
    q4 - 5 message: passed - The 2nd returned value from get_shows_w_death() is a list

    q5 results: All test cases passed!
    q5 - 1 message: passed - The 'Netflix Exclusive' columns has no nan values
    q5 - 2 message: passed - The 'Year to Date Rank' columns has no nan values
    q5 - 3 message: passed - the type of the return value is correct